In [16]:
% config IPCompleter.greedy = True

In [17]:
# Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [18]:
# Importing the dataset
dataset = pd.read_csv('train_titanic.csv')
predict = pd.read_csv('test_titanic.csv')
iv = dataset.iloc[:,[2,4,5,6,7,9,11]].values
iv_test = predict.iloc[:,[1,3,4,5,6,8,10]].values
dv = dataset.iloc[:, 1].values

iv_test[1]

array([3, 'female', 47.0, 1, 0, 7.0, 'S'], dtype=object)

In [19]:
#Encoding
#Label encoding
#Import Label Encoder
from sklearn.preprocessing import LabelEncoder
encode_iv1 = LabelEncoder()#
iv[:,1] = encode_iv1.fit_transform(iv[:,1])
iv[:,-1] = encode_iv1.fit_transform(iv[:,-1].astype(str))
iv_test[:,1] = encode_iv1.fit_transform(iv_test[:,1])
iv_test[:,-1] = encode_iv1.fit_transform(iv_test[:,-1].astype(str))

In [20]:
#Imputation
#Import Impute library
from sklearn.preprocessing import Imputer
#Clear an instance of the class Imputer
imputer_mean = Imputer(missing_values="NaN",strategy="median",axis=0)
imputer_mode = Imputer(missing_values="NaN",strategy="most_frequent",axis=0)
iv[:,[2]]=imputer_mean.fit_transform(iv[:,[2]])
iv[:,[-1]]=imputer_mode.fit_transform(iv[:,[-1]])
iv_test[:,[2]]=imputer_mean.fit_transform(iv_test[:,[2]])
iv_test[:,[-2]]=imputer_mean.fit_transform(iv_test[:,[2]])
iv_test[:,[-1]]=imputer_mode.fit_transform(iv_test[:,[-1]])

In [21]:
# Feature Scaling
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
iv_train = sc.fit_transform(iv)
iv_test = sc.transform(iv_test)

/home/shreyas/anaconda3/lib/python3.6/site-packages/sklearn/utils/validation.py:475: DataConversionWarning: Data with input dtype object was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)

In [24]:
# Fitting Random Forest Classification to the Training set
from sklearn.ensemble import RandomForestClassifier
rf_classifier = RandomForestClassifier(n_estimators = 10,criterion='entropy', random_state = 0,n_jobs = 10000)
rf_classifier.fit(iv_train, dv)
survivors = rf_classifier.predict(iv_test)

In [23]:
prediction = pd.read_csv("tit_predict.csv")
prediction['Survived'] = survivors
prediction.to_csv('titanic_predicted.csv', sep=',')
prediction

     PassengerId  Survived
0            892         0
1            893         0
2            894         0
3            895         0
4            896         0
5            897         0
6            898         1
7            899         0
8            900         0
9            901         0
10           902         0
11           903         0
12           904         1
13           905         0
14           906         1
15           907         1
16           908         0
17           909         1
18           910         0
19           911         0
20           912         1
21           913         1
22           914         1
23           915         0
24           916         1
25           917         0
26           918         1
27           919         1
28           920         0
29           921         0
..           ...       ...
388         1280         0
389         1281         0
390         1282         0
391         1283         1
392         1284         0
393         1285         0
394         1286         0
395         1287         1
396         1288         0
397         1289         1
398         1290         0
399         1291         0
400         1292         1
401         1293         0
402         1294         1
403         1295         0
404         1296         1
405         1297         0
406         1298         0
407         1299         0
408         1300         1
409         1301         1
410         1302         1
411         1303         1
412         1304         0
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         1

[418 rows x 2 columns]